### Countries CSV
* shorten wikipedia_link col 
* add NA to north american countries' continent column

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Airports/countries.csv', keep_default_na=False)
df

,id,code,name,continent,wikipedia_link,keywords
0,302672,AD,Andorra,EU,https://en.wikipedia.org/wiki/Andorra,
1,302618,AE,United Arab Emirates,AS,https://en.wikipedia.org/wiki/United_Arab_Emir...,"UAE,مطارات في الإمارات العربية المتحدة"
2,302619,AF,Afghanistan,AS,https://en.wikipedia.org/wiki/Afghanistan,
3,302722,AG,Antigua and Barbuda,NA,https://en.wikipedia.org/wiki/Antigua_and_Barbuda,
4,302723,AI,Anguilla,NA,https://en.wikipedia.org/wiki/Anguilla,
...,...,...,...,...,...,...
242,302609,YT,Mayotte,AF,https://en.wikipedia.org/wiki/Mayotte,
243,302610,ZA,South Africa,AF,https://en.wikipedia.org/wiki/South_Africa,
244,302611,ZM,Zambia,AF,https://en.wikipedia.org/wiki/Zambia,
245,302612,ZW,Zimbabwe,AF,https://en.wikipedia.org/wiki/Zimbabwe,
246,302613,ZZ,Unknown or unassigned country,AF,https://en.wikipedia.org/wiki/Unknown_or_unass...,

In [3]:
df.shape

(247, 6)

In [4]:
df['continent'].isnull().value_counts()

False    247
Name: continent, dtype: int64

In [5]:
df.rename(columns={'wikipedia_link': 'wikipedia'}, inplace=True)
df

,id,code,name,continent,wikipedia,keywords
0,302672,AD,Andorra,EU,https://en.wikipedia.org/wiki/Andorra,
1,302618,AE,United Arab Emirates,AS,https://en.wikipedia.org/wiki/United_Arab_Emir...,"UAE,مطارات في الإمارات العربية المتحدة"
2,302619,AF,Afghanistan,AS,https://en.wikipedia.org/wiki/Afghanistan,
3,302722,AG,Antigua and Barbuda,NA,https://en.wikipedia.org/wiki/Antigua_and_Barbuda,
4,302723,AI,Anguilla,NA,https://en.wikipedia.org/wiki/Anguilla,
...,...,...,...,...,...,...
242,302609,YT,Mayotte,AF,https://en.wikipedia.org/wiki/Mayotte,
243,302610,ZA,South Africa,AF,https://en.wikipedia.org/wiki/South_Africa,
244,302611,ZM,Zambia,AF,https://en.wikipedia.org/wiki/Zambia,
245,302612,ZW,Zimbabwe,AF,https://en.wikipedia.org/wiki/Zimbabwe,
246,302613,ZZ,Unknown or unassigned country,AF,https://en.wikipedia.org/wiki/Unknown_or_unass...,

In [6]:
df[df['continent'].isnull()]

Empty DataFrame
Columns: [id, code, name, continent, wikipedia, keywords]
Index: []

In [7]:
df['continent'].fillna('NA', inplace=True)
df

,id,code,name,continent,wikipedia,keywords
0,302672,AD,Andorra,EU,https://en.wikipedia.org/wiki/Andorra,
1,302618,AE,United Arab Emirates,AS,https://en.wikipedia.org/wiki/United_Arab_Emir...,"UAE,مطارات في الإمارات العربية المتحدة"
2,302619,AF,Afghanistan,AS,https://en.wikipedia.org/wiki/Afghanistan,
3,302722,AG,Antigua and Barbuda,NA,https://en.wikipedia.org/wiki/Antigua_and_Barbuda,
4,302723,AI,Anguilla,NA,https://en.wikipedia.org/wiki/Anguilla,
...,...,...,...,...,...,...
242,302609,YT,Mayotte,AF,https://en.wikipedia.org/wiki/Mayotte,
243,302610,ZA,South Africa,AF,https://en.wikipedia.org/wiki/South_Africa,
244,302611,ZM,Zambia,AF,https://en.wikipedia.org/wiki/Zambia,
245,302612,ZW,Zimbabwe,AF,https://en.wikipedia.org/wiki/Zimbabwe,
246,302613,ZZ,Unknown or unassigned country,AF,https://en.wikipedia.org/wiki/Unknown_or_unass...,

In [8]:
df['continent'].isnull().value_counts()

False    247
Name: continent, dtype: int64

In [9]:
df

,id,code,name,continent,wikipedia,keywords
0,302672,AD,Andorra,EU,https://en.wikipedia.org/wiki/Andorra,
1,302618,AE,United Arab Emirates,AS,https://en.wikipedia.org/wiki/United_Arab_Emir...,"UAE,مطارات في الإمارات العربية المتحدة"
2,302619,AF,Afghanistan,AS,https://en.wikipedia.org/wiki/Afghanistan,
3,302722,AG,Antigua and Barbuda,NA,https://en.wikipedia.org/wiki/Antigua_and_Barbuda,
4,302723,AI,Anguilla,NA,https://en.wikipedia.org/wiki/Anguilla,
...,...,...,...,...,...,...
242,302609,YT,Mayotte,AF,https://en.wikipedia.org/wiki/Mayotte,
243,302610,ZA,South Africa,AF,https://en.wikipedia.org/wiki/South_Africa,
244,302611,ZM,Zambia,AF,https://en.wikipedia.org/wiki/Zambia,
245,302612,ZW,Zimbabwe,AF,https://en.wikipedia.org/wiki/Zimbabwe,
246,302613,ZZ,Unknown or unassigned country,AF,https://en.wikipedia.org/wiki/Unknown_or_unass...,

In [10]:
df.to_csv('Clean-Data/countries_clean.csv')