In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Airports/airport-frequencies.csv')
pd.set_option('display.max_rows', 200)
df.head()

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.9
1,307581,6589,01FL,ARCAL,NaN,122.9
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.8
3,60191,6756,04CA,CTAF,CTAF,122.9
4,59287,6779,04MS,UNIC,UNICOM,122.8

In [3]:
df.shape

(28835, 6)

In [4]:
df.dtypes

id                 int64
airport_ref        int64
airport_ident     object
type              object
description       object
frequency_mhz    float64
dtype: object

In [5]:
df.drop(columns=['id', 'airport_ref'], inplace=True)
df.head()

  airport_ident   type          description  frequency_mhz
0          00CA   CTAF                 CTAF          122.9
1          01FL  ARCAL                  NaN          122.9
2          01FL   CTAF  CEDAR KNOLL TRAFFIC          122.8
3          04CA   CTAF                 CTAF          122.9
4          04MS   UNIC               UNICOM          122.8

In [6]:
adf = pd.read_csv('Clean-Data/airports_clean.csv')

In [7]:
df = df[df['airport_ident'].isin(adf['ident'])]
df.head(100)

   airport_ident   type          description  frequency_mhz
0           00CA   CTAF                 CTAF        122.900
1           01FL  ARCAL                  NaN        122.900
2           01FL   CTAF  CEDAR KNOLL TRAFFIC        122.800
3           04CA   CTAF                 CTAF        122.900
4           04MS   UNIC               UNICOM        122.800
5           04NV   UNIC               UNICOM        123.000
6           05CL   CTAF                 CTAF        122.900
7           05UT   UNIC               UNICOM        122.800
8           06FA    APP       PALM BEACH APP        124.600
9           06FA    GND                  GND        121.650
10          06FA    TWR                  TWR        120.400
11          06MO   CTAF                 CTAF        122.900
12          07FA   UNIC               UNICOM        122.700
13          07MT   CNTR  SALT LAKE CITY CNTR        126.850
14          07TE   CNTR         HOUSTON CNTR        126.625
15          08TE   UNIC               UNICOM        122.800
16          09CL   CTAF                 CTAF        122.900
17          09FA   UNIC               UNICOM        122.800
18          09TS   CNTR     ALBUQUERQUE CNTR        132.650
19          0AZ2   UNIC               UNICOM        122.950
20           0C2   CTAF                  NaN        122.900
21          0CA9   CTAF                 CTAF        122.900
22          0ID2   ARTC  SALT LAKE CITY CNTR        128.350
23          0TE4   UNIC          CTAF/UNICOM        122.800
24          0TE5   CNTR         HOUSTON CNTR        126.625
25          0TE7   UNIC               UNICOM        122.800
26          0TX1   UNIC               UNICOM        123.050
27          11II   CNTR    INDIANAPOLIS CNTR        134.850
28          11II   CTAF                 CTAF        126.200
29          11II   MISC              RNG CON         38.900
30          11II   MISC          ANG RNG CON        138.250
31          12NC    APP     CHERRY POINT APP        119.750
32          12OK   UNIC               UNICOM        123.000
33          13NC    APP     CHERRY POINT APP        119.350
34          13NC   CTAF                  NaN        322.100
35          14NC    A/D     CHERRY POINT APP        119.350
36          14TS   CNTR         HOUSTON CNTR        126.625
37          15AR   UNIC              RDO CTL        122.725
38          15FL   UNIC               UNICOM        123.000
39           16X   CNTR      FORT WORTH CNTR        127.450
40          18AZ   UNIC               UNICOM        122.975
41          18TA   CNTR         HOUSTON CNTR        126.625
42          18TE   UNIC               UNICOM        122.800
43          1AZ0   UNIC               UNICOM        122.725
44          1CA1   CTAF                 CTAF        122.900
45          1CD2    APP           DENVER APP        119.300
46          1GA0   UNIC               UNICOM        122.725
47          1MS8    APP         MERIDIAN APP         31.480
48          1WA6   CTAF    Fall City Traffic        122.900
49          1XS8   CNTR         HOUSTON CNTR        126.625
50          20GA   MULT                 MULT        122.900
51          22XS    A/G                  TWR        143.350
52          22XS   ATIS                 ATIS        118.800
53          22XS   INFO              RNG CTL         30.450
54          22XS   MISC    FORT HOOD FLT FLW         38.750
55          22XS    OPS             GRAY OPS         38.700
56          22XS   PMSV      PMSV GRAY METRO         41.200
57          22XS    TWR             GRAY TWR        120.750
58          23XS    A/G     LONGHORN AUX TWR        143.350
59          23XS   ATIS                 ATIS        118.800
60          23XS   INFO              RNG CTL         30.450
61          23XS   MISC    FORT HOOD FLT FLW         38.750
62          23XS    OPS             GRAY OPS         38.700
63          23XS   PMSV      PMSV GRAY METRO         41.200
64          23XS    TWR             GRAY TWR        120.750
65          24CL   CTAF                 CTAF        122.900
66          25NC   MULT             MULTICOM        122.900
67          25TA   CNTR         HOUSTON CNTR        126.625
68          25TS   CNTR     ALBUQUERQUE CNTR        132.650
69          27AZ   CTAF                 CTAF        122.900
70          28CL   CTAF                 CTAF        122.800
71          28TA   CNTR         HOUSTON CNTR        126.625
72          28TA   UNIC               UNICOM        122.800
73          29AZ   UNIC               UNICOM        122.800
74          29TX   CNTR      FORT WORTH CNTR        127.450
75          2CL9   CTAF                 CTAF        122.900
76          2CN4   CTAF                 CTAF        122.900
77          2IG4   UNIC               UNICOM        122.800
78          2OR1   UNIC               UNICOM        122.800
79          2TA6   CNTR      FORT WORTH CNTR        127.450
80          2TA8   CNTR         HOUSTON CNTR        126.625
81          2TE8   CNTR         HOUSTON CNTR        126.625
82          2TX3   CNTR         HOUSTON CNTR        126.625
83          2TX4   CNTR         HOUSTON CNTR        126.625
84          2VG2   UNIC               UNICOM        122.725
85          2XA0   CNTR      FORT WORTH CNTR        127.450
86          2XA0   CTAF                 CTAF        122.900
87          2XS3   CNTR      FORT WORTH CNTR        127.450
88          2XS5   CNTR         HOUSTON CNTR        126.625
89          31VA   UNIC               UNICOM        122.750
90          34AZ   UNIC               UNICOM        122.800
91          36CA   CTAF                 CTAF        122.900
92          36CN   CTAF                 CTAF        122.900
93          36WI   CTAF                 CTAF        122.900
94          36WI   MISC                LIGHT        122.600
95          38AZ   AWOS               AWOS 2        119.225
96          38AZ   CTAF                 CTAF        122.800
97          38CA   UNIC               UNICOM        122.800
98          38XS   UNIC               UNICOM        122.800
99           3B3   CTAF                 CTAF        122.900

In [ ]:
df['type'].value_counts()

In [ ]:
#TODO: clean up type column. Needs more uniformity