In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("../Clean-Data/facilities_clean.tsv", sep='\t', index_col=0, engine='python')

In [11]:
df.head()

,site_number,type,location_id,effective_date,region,state,state_name,county,city,facility_name,...,military_operational,ultralights,operations_commercial,operations_commuter,operations_air_taxi,operations_ga_local,operations_ga_itin,operations_military,operations_date,icao_identifier
0,50009.*A,AIRPORT,ADK,2020-02-27,AAL,AK,ALASKA,ALEUTIANS WEST,ADAK ISLAND,ADAK,...,0.0,0.0,104.0,NaN,0.0,0.0,100.0,28.0,06/30/2019,PADK
1,50016.1*A,AIRPORT,AKK,2020-02-27,AAL,AK,ALASKA,KODIAK ISLAND,AKHIOK,AKHIOK,...,0.0,0.0,NaN,NaN,1500.0,NaN,100.0,NaN,12/31/2018,PAKH
2,50017.*A,AIRPORT,Z13,2020-02-27,AAL,AK,ALASKA,BETHEL,AKIACHAK,AKIACHAK,...,0.0,0.0,NaN,NaN,3000.0,NaN,NaN,NaN,12/31/2016,NaN
3,50017.1*C,SEAPLANE BASE,KKI,2020-02-27,AAL,AK,ALASKA,BETHEL,AKIACHAK,AKIACHAK,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,12/31/2016,NaN
4,50020.*A,AIRPORT,AKI,2020-02-27,AAL,AK,ALASKA,BETHEL,AKIAK,AKIAK,...,0.0,0.0,NaN,NaN,1000.0,NaN,NaN,NaN,12/31/2016,PFAK